@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius: 23px;

  --content: 30 45% 14%;

  --primary: 216 73% 44%; //*Dark blue*/
  --primary-focus: 244 44% 33%;

  --secondary: 41 89% 62%; /*Light Yellow*/
  --secondary-focus: 317 80% 54%;

  --accent: 191 53% 55%; /*Light blue*/
  --accent-focus: 177 66% 69%;

  --black: 184 60% 5%;

  /* Custom colors */
  --light-sand: var(--secondary);
  --dark-sand: 29 44% 74%;
  --dark-ocean: var(--primary);
  --light-ocean: var(--accent);
  --rhyze-red: 0 100% 41%;
  --dark-wet-sand: var(--content);
}


a:hover {
  text-decoration: underline;
}

.animate {
  opacity: 0;
}

nav {
  transition: 0.2s ease;

  &.open {
    height: 60%;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(25px) rotate(12deg);
  }

  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes float_2 {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  25% {
    transform: translateY(15px) rotate(1deg);
  }
  50% {
    transform: translateY(5px) rotate(-1deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes blow_in_wind_1 {
  0% {
    transform: rotate(15deg);
  }
  25% {
    transform: rotate(16deg);
  }
  50% {
    transform:  rotate(14deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

@keyframes blow_in_wind_2 {
  0% {
    transform: rotate(-25deg);
  }
  25% {
    transform: rotate(-24deg);
  }
  50% {
    transform:  rotate(-26deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}

.blow_in_wind {
  animation: blow_in_wind_1 7s ease infinite;
}

.blow_in_wind_2 {
  animation: blow_in_wind_2 7s ease infinite;
}

.float {
  animation: float 7s ease infinite;

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: 800ms * $i;
    }
  }
}

.float_2 {
  animation: float_2 7s ease infinite;

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: 800ms * $i;
    }
  }
}


  .ray {  
    position: absolute;
    background: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%); 
    opacity: 0.5;
    width: 1000px;
    height: 80px;

    &-1 {
      transform: rotate(45deg);
      left:0;
      top:0;
    }
    &-2 {
      transform: rotate(50deg);
      left:-50px;
      top:0;
    }
    &-3 {
      transform: rotate(-50deg);
      right:50px;
      top:0;
    }
    &-4 {
      transform: rotate(-45deg);
      right:0;
      top:0;
    }
}

/* Override Terms Hub Cookie Banner styles */
.th-button {
  border-radius: var(--border-radius) !important;
  margin-bottom: 8px !important;
}

// Override TW Connect Wallet
.tw-connected-wallet, .tw-connect-wallet {
  background: hsl(var(--dark-wet-sand)) !important;
  color: #fff !important;
  border-radius: var(--border-radius) !important;
}